@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.profileContainer{
    margin-top: 30px;
    display: flex;
    padding: 20px;
    justify-content: center;
}

.photoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 40px;

}

.photoProfile{
    width: 275px;
    height: 275px;
}

.editPhotoButton{
    background-color: #BA540B;
    border: none;
    border-radius: 30px;
    width: 220px;
    height: 35px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 50px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editPhotoButton:hover{
    background-color: #FF6B00; /* Change the background color on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow on hover */
    transition: 0.5s;
}

.labelProfile{
    font-weight: 600;
}

.textField{
    background-color: #FFFFFF;
    border: none;
    width: 450px;
    height: 35px;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

}


.submitButton{
    background-color: #BA540B;
    border: none;
    border-radius: 30px;
    width: 150px;
    height: 35px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 50px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

}


.boxKanan{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    width: 500px;
    border-radius: 10px;
    border-width: 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.editIcon:hover{
    transform: scale(1.05); /* Slightly scale up on hover */
    transition: 0.5s;
    cursor: pointer;
}

.file{
    display: none;
    width: 220px;
    height: 35px;
}

.fileLabel{
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}