@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #1f666b;
}

.header h2,
.header h5,
.registercontainer h4,
.registercontainer h5,
.registercontainer img {
    margin: 0;
    padding: 0;
}

.header img{
    margin-top: 40px;
    /* margin-bottom: 10px; */
}
.header h2{
    /* font-size: 30px; */
    font-weight: 700;
    /* margin-bottom: 20px; */
}

.forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registercontainer{
    background-color: #FFFFFF;
    /* color: White; */
    /* transform: translate(-50%, -50%); */
    backdrop-filter: blur(8px); /* Apply a blur effect to the background */

    border-radius: 20px;
    /* add shadow */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* make it center horizontaly */
    margin: auto;
    /* make it center verticaly */
    margin-top: 150px;
    /* justify-content: center; */
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    
}

.header a {
    color: #ba540bb4; /* Change the link color to blue (#007bff) or your preferred color */
    text-decoration: none; /* Remove the underline */
    transition: color 0.3s ease-in-out;
}

.header a:hover{
    color: #FF6B00;

}

.registercontainer h4{
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 5px;
}

.namecontainer{
    border: 1px solid #000000;
    width: 300px;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out, transform 0.3s, box-shadow 0.3s;
    margin-bottom: 15px;
}

.namecontainer:hover{
    border: 1px solid #288990;
    transform: scale(1.001); /* Slightly scale up on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow on hover */
}

.namecontainer:focus-within{
    border: 1px solid #288990;
    transform: scale(1.001); /* Slightly scale up on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow on hover */
}

.namecontainer i{
    margin-top: 5px;
    color: #000000;
}

.nameinput{
    border: none;
    width: 250px;
    height: 20px;
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: 20px;
    outline: none; 
    transition: border-color 0.3s ease-in-out;
    font-size: 14px;
}

.nameinput::placeholder {
    font-size: 14px; /* Adjust the font size to your preference */
}

.emailcontainer{
    border: 1px solid #000000;
    width: 300px;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out, transform 0.3s, box-shadow 0.3s;
    margin-bottom: 15px;
}

.emailcontainer:hover{
    border: 1px solid #288990;
    transform: scale(1.001); /* Slightly scale up on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow on hover */
}

.emailcontainer:focus-within{
    border: 1px solid #288990;
    transform: scale(1.001); /* Slightly scale up on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow on hover */
}

.emailcontainer i{
    margin-left: 5px;
    margin-top: 5px;
    color: #000000;
}

.emailinput{
    border: none;
    width: 250px;
    height: 20px;
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: 20px;
    outline: none; 
    transition: border-color 0.3s ease-in-out;
    font-size: 14px;
}

.emailinput::placeholder {
    font-size: 14px; /* Adjust the font size to your preference */
}

.phonenumbercontainer{
    border: 1px solid #000000;
    width: 300px;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out, transform 0.3s, box-shadow 0.3s;
    margin-bottom: 15px;
}

.phonenumbercontainer:hover{
    border: 1px solid #288990;
    transform: scale(1.001); /* Slightly scale up on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow on hover */
}

.phonenumbercontainer:focus-within{
    border: 1px solid #288990;
    transform: scale(1.001); /* Slightly scale up on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow on hover */
}

.phonenumbercontainer i{
    margin-left: 5px;
    margin-top: 5px;
    color: #000000;
}

.phonenumberinput{
    border: none;
    width: 250px;
    height: 20px;
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: 20px;
    outline: none; 
    transition: border-color 0.3s ease-in-out;
    font-size: 14px;
}

.passwordcontainer{
    border: 1px solid #000000;
    width: 300px;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out, transform 0.3s, box-shadow 0.3s;
    margin-bottom: 15px;
}

.passwordcontainer:hover{
    border: 1px solid #288990;
    transform: scale(1.001); /* Slightly scale up on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow on hover */
}

.passwordcontainer:focus-within{
    border: 1px solid #288990;
    transform: scale(1.001); /* Slightly scale up on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow on hover */
}

.passwordcontainer i{
    margin-left: 5px;
    margin-top: 5px;
    color: #000000;
}

.passwordinput{
    border: none;
    width: 250px;
    height: 20px;
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: 20px;
    outline: none; 
    transition: border-color 0.3s ease-in-out;
    font-size: 14px;
}

.passwordinput::placeholder {
    font-size: 14px; /* Adjust the font size to your preference */
}



.register{
    background-color: #BA540B;
    border: none;
    border-radius: 30px;
    width: 154px;
    height: 35px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 50px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

}

.register:hover {
    background-color: #FF6B00; /* Change the background color on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow on hover */
    transition: 0.5s;
}

#phoneNumberInvalid{
    color: red;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 0px;
}

#emailInvalid{
    color: red;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 0px;
}

#passwordInvalid{
    color: red;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 0px;
}

#unameInvalid{
    color: red;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 0px;
}